# Ignore the following directories
data/
test_scripts/
test/

# Ignore KDE directory file
.directory

# Ignore the various python artifacts
__pycache__/
.ipynb_checkpoints/

# Ignore twitter api credentials
*credentials*

# Ignore all data and text files
*.csv
*.json
*.txt
