# Ignore the following directories
data/
test*/
*scripts/

# Ignore KDE directory file
.directory

# Ignore the various python artifacts
__pycache__/
.ipynb_checkpoints/

# Ignore twitter api credentials
*credentials*

# Ignore TODO file
*TODO*

# Ignore the jupyter notebooks used to create the reports
*report.ipynb

# Ignore all data and text files
#*.csv
#*.tsv
#*.json
#*.txt
